.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 00, 0.5);
}
.navbar .logo{
    color: orange;
    font-weight: bold;
    font-size: 25px;
}
.navbar .logo:hover{
    text-decoration: none;
}
.navbar .lists{
    margin-top: 10px;
    display: flex; 
}
.navbar .lists li{
    list-style: none;
    margin-right: 25px;
    background: rgb(255, 255, 255);
    padding: 5px 8px;
    border: 1px solid orange;
    border-radius: 10px;
}
.navbar .lists li a{
    color: orange;
    font-size: 22px;
}
.history{
    position: relative;
}
.history .circle{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0px 8px;
    border-radius: 50%;
    background: red;
    color: white;
}
.fav{
    position: relative;
}
.fav .circle{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0px 8px;
    border-radius: 50%;
    background: red;
    color: white;
}
.button{
    background: orange;
    color: white;
    padding: 8px 18px;
    border-radius: 6px;
    border: 1px solid orange;
}
.input{
    height: 40px;
    width: 50%;
    border-radius: 10px;
}
table{
    width: 100%;
    margin: 0;
   
}
thead,tbody,td,th{
    border: 1px solid black;
    padding: 7px;
}
td a i{
    font-size: 24px;
}

.para{
    border: 1px solid black;
    padding: 10px 20px;
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
    font-size: 25px !important;
    font-weight: bold !important;
}
.span{
    text-transform: lowercase;
    color: rgb(212, 192, 38);
}
.urls{
    color: blue;
}
.history-head{
    color: orange;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
}