{% extends "base.html" %}

{% block content %}
<h4 class="history-head mt-3 mb-3">History</h4>
<div class="container">
    {% if websites %}
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Domain</th>
          <th>Word Count</th>
          <th>Images</th>
          <th>Urls</th>
          <th>Favourite</th>
        </tr>
      </thead>
      <tbody>
        {% for web in websites  %}
        <tr>
            <td>1</td>
            <td>{{web.domain}}</td>
            <td>{{web.word_count}}</td>
            <td><a href="{% url 'single-images' web.id %}"><button class="btn btn-success">View Images</button></a></td>
            <td><a href="{% url 'single-url' web.id %}"><button class="btn btn-success">View urls</button></a></td>
            <td><a href="{% url 'add-to-fav' web.id %}"><button class="btn btn-warning">Add to fav</button></a></td>
          </tr>  
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock content %}