{% extends "base.html" %}

{% block content %}
<nav class="w-100 navbar">
    <a class="logo" href="">URL SCRAPER</a>
    <ul class="lists">
        <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a></li>
        <li class="fav"><div class="circle">{{fav_count}}</div><a href="{% url 'fav' %}"><i class="fa-solid fa-heart"></i></a></li> 
        <li class="history"><div class="circle">{{history_count}}</div><a href="{% url 'history' %}"><i class="fa-solid fa-clock-rotate-left"></i></a></li>
    </ul>
  </nav>
<p class="para mt-3">
    images in <span class="span">"{{website}}"</span>
</p>
  <div class="row container">
    {% if images %}
    {% for image in images %}
    <!-- <div class="col-xlg-3 col-lg-3 col-md-2 col-sm-6 col-xsm-12"> -->
        <img class="mb-2 single_image col-xlg-3 col-lg-3 col-md-2 col-sm-6 col-xsm-12 border border-dark" src="{{image}}" alt="image" />
    <!-- </div> -->
    {% endfor %}
    {% else %}
    <p class="mt-5">No images in this {{website}}</p>
    {% endif %}
  </div>
{% endblock content %}