{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<div class="mt-5 p-5 d-flex justify-content-center align-items-center">
    <input class="input" type="text">
    <button class="button ml-3">Submit</button>
</div>

<div class="container">
<table>
    <thead>
        <th>id</th>
        <th>domain</th>
        <th>word</th>
        <th>images</th>
        <th>urls (links in webpage)</th>
    </thead>
    <tbody>
        <td>1</td>
        <td><p>link</p></td>
        <td>56641</td>
        <td><button class="btn btn-danger">view</button></td>
        <td>links</td>
    </tbody>
</table>
</div>
{% endblock content %}