{% extends "base.html" %} 
{% block content %} 
<nav class="w-100 navbar">
  <a class="logo" href="">URL SCRAPER</a>
  <ul class="lists">
      <li><a href=""><i class="fa-solid fa-house"></i></a></li>
      <a href="fav"><li class="fav"><div class="circle">{{fav_count}}</div><a href=""><i class="fa-solid fa-heart"></i></a></li></a>
      <a href="history"><li class="history"><div class="circle">{{history_count}}</div><a href=""><i class="fa-solid fa-clock-rotate-left"></i></a></li></a>
  </ul>
</nav>

<form
  action="/"
  method="POST"
  class="w-100 mt-5 p-5 d-flex justify-content-center align-items-center"
>
  {% csrf_token %}
  <input name="input" class="input" type="text" />
  <button type="submit" class="button ml-3">Submit</button>
</form>

<div class="container">
  {% if word_count %}
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Domain</th>
        <th>Word Count</th>
        <th>Images</th>
        <th>Urls</th>
        <th>Favourite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>{{link}}</td>
        <td>{{word_count}}</td>
        <td><a href="{% url 'single-images' website.id %}"><button class="btn btn-success">View Images</button></a></td>
        <td><a href="{% url 'single-url' website.id %}"><button class="btn btn-success">View urls</button></a></td>
        <td><a href="{% url 'add-to-fav' web.id %}"><button class="btn btn-warning">Add to fav</button></a></td>
      </tr>
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock content %}
