{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<form action="/" method="POST" class="mt-5 p-5 d-flex justify-content-center align-items-center">
    {% csrf_token %}
    <input name="input" class="input" type="text">
    <button type="submit" class="button ml-3">Submit</button>
</form>

<div class="container">
{% if word_count %}
<table>
    <thead>
        <th>id</th>
        <th>domain</th>
        <th>word</th>
        <th>images</th>
        <th>urls (links in webpage)</th>
    </thead>
    <tbody>
        <td>1</td>
        <td><p>link</p></td>
        <td>{{word_count}}</td>
        <td><button class="btn btn-danger">view</button></td>
        <td>
        {% for url in urls %}
            <p>{{url}}</p>
        {% endfor %}
        </td>
    </tbody>
</table>
{% endif %}
</div>
{% endblock content %}