.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 00, 0.5);
}
.navbar .lists{
    display: flex; 
}
.navbar .lists li{
    list-style: none;
    margin-right: 25px;
    background: rgb(255, 255, 255);
    padding: 5px 8px;
    border: 1px solid orange;
    border-radius: 10px;
}
.navbar .lists li a{
    color: orange;
    font-size: 22px;
}